 <script src="https://giscus.app/client.js"
        data-repo="SeniorMars/seniormars.com"
        data-repo-id="R_kgDOJQ6QAQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOJQ6QAc4CgC4Q"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
